node_modules

.env

# ignore everything but .gitkeep
tmp/uploads/*
!tmp/uploads/.gitkeep

# used for storing the postgres database files created so we don't lose it at docker-compose down
pgdata/*
!pgdata/.gitkeep
